@media only screen and (min-width: 750px) {
    body {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        font-size: calc(12px + 1vw);
        font-family: Arial, Helvetica, sans-serif;
    }
    header, footer {
        text-align: left;
        padding: 20px;
        background-color: #2B3D6E;
        color: #D4BC2A;
        width: 80%;
        margin: 0 auto;
    }
    .container {
        display: flex;
        width: 80%;
        margin: 0 auto;
        padding: 0;
    }
    nav {
        flex: 0 0 30%;
        padding: 20px;
        background-color: #5F7EAC;
        color: #4263A3;
    }
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    nav ul li {
        margin-bottom: 50px;
        background-color: #CDD68A;
    }
    nav ul li a {
        text-decoration: none;
        display: block;
        color: #4263A3;
        font-size: calc(24px + 1vw);
        text-align: center;
    }
    main {
        flex: 1;
        padding: 20px;
        max-width: 70%;
        background-color: #D4BC2A;
    }
    h2 {
        text-align: center;
        color: #2B3D6E;
    }
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height: auto;
    }
}

@media only screen and (max-width: 749px) {
    body {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        font-size: calc(12px + 1vw);
        font-family: Arial, Helvetica, sans-serif;
    }
    header, footer {
        padding: 20px;
        background-color: #2B3D6E;
        color: #D4BC2A;
        width: 80%;
        margin: 0 auto;
    }
    header {
        text-align: center;
    }
    main {
        padding: 20px;
        width: 80%;
        margin: 0 auto;
        background-color: #D4BC2A;
    }
    h2 {
        text-align: center;
        color: #2B3D6E;
    }
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height: auto;
    }
    nav {
        width: 80%;
        margin: 0 auto;
        background-color: #5F7EAC;
        color: #4263A3;
    }
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
    }
    nav ul li {
        flex: 1;
        background-color: #CDD68A;
        border: 5px solid #4263A3;
    }
    nav ul li a {
        display: block;
        text-decoration: none;
        color: #4263A3;
        font-size: calc(10px + 1vw);
        text-align: center;
    }
}

#calculator {
    font-size: calc(12px + 1vw);
    font-family: Arial, Helvetica, sans-serif;
}
#calculator button {
    border-radius: 50%;
}
#add {
    background-color: #C8102E;
    color: #1D428A;
    border: 2px solid #BEC0C2;
}
#sbt {
    background-color: #007A33;
    color: #BA9653;
    border: 2px solid #FFFFFF;
}
#mlt {
    background-color: #0E2240;
    color: #FEC524;
    border: 2px solid #8B2131;
}
#dvd {
    background-color: #0C2340;
    color: #236192;
    border: 2px solid #9EA2A2;
}
#pwr {
    background-color: #007AC1;
    color: #002D62;
    border: 2px solid #EF3B24;
}
#clr {
    background-color: #860038;
    color: #FDBB30;
    border: 2px solid #041E42;
}
#first-number {
    background-color: #006BB6;
    color: #F58426;
    border: 2px solid #BEC0C2;
}
#second-number {
    background-color: #00471B;
    color: #EEE1C6;
    border: 2px solid #0077C0;
}
#output {
    background-color: #006BB6;
    border: 2px solid #002B5C;
    text-align: center;
}